
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel';font-size: 22px;
}

.noDeco {
    text-decoration: none;
}

/* header rules */

header {
    display: flex;
    justify-self: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #ff6900;
    height: 80px;
}

/* hNav rules */

.hNav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

/* header text rules */

a.white {
    color: white;
    font-weight: bold;
    padding-right: 10px;
}

/* logo rules */

.logoAnchor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20%;
}

/* header utils rules */

.hUtils {
    color: white;
    padding-left: 10px;
}

/* main rules */

.catalogue {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* products rules */

.product {
    display: flex;
    flex-direction: column;

}

/* product image rules */

.productImgDiv {
    
}

/* footer rules */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
    padding: 20px 0px;
}

/* fNav rules */

.fNav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* legal info */

.references {
    display: flex;
    flex-direction: column;
}

h3.white {
    color: white;
    padding: 0;
}

a.white.fAnchor {
    font-size: 15px;
    font-weight: normal;
}

/* contacts */

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactsText {
    color: white;
    font-size: 15px;
}

/* footer icons */

.fIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fIconContainer > a {
    color: white;
    padding: 10px;
}